#heading-container {
   background-color:red;
   color:black;
   font-family: Stencil Std, fantasy;
   text-align:center;
}
#bodycontainer {
   background-color: black;
   color: white;
   font-family: Stencil Std, fantasy;
   text-align: center;
}
.navi a{
   display:inline-block;
   padding: 0.5em;
   color: white;
   font-family:Stencil Std, fantasy ;
}
.navi a:hover{
   background-color:grey;
}
.navi { 
text-align:center;
}
nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  
    li { display: inline-block; }
  
    a {
      display: block;
      padding: 6px 12px;
      text-decoration: none;
    }
  }